@model CleantopiaCRM.Web.Entities.CustomerSource
@{ ViewData["Title"] = "Thêm nguồn khách"; }
<h4>Thêm nguồn khách</h4>
<form method="post" class="row g-2">
  <div class="col-md-6"><input asp-for="Name" class="form-control" placeholder="Tên nguồn" /></div>
  <div class="col-md-2"><input asp-for="SortOrder" class="form-control" placeholder="Thứ tự" /></div>
  <div class="col-md-2 form-check d-flex align-items-center px-4"><input asp-for="IsActive" class="form-check-input" /><label class="form-check-label ms-2">Áp dụng</label></div>
  <div class="col-12"><button class="btn btn-brand"><i class="fa-solid fa-floppy-disk"></i> Lưu</button> <a href="/CustomerSources" class="btn btn-outline-secondary"><i class="fa-solid fa-arrow-left"></i> Quay lại</a></div>
</form>
